h1 {
    font-size: 26px;
}

.window {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.map {
    width: 60%;

    height: 80vh;
    margin-right: 20px;
}

.menu {
    margin-left: 20px;
    width: 35%;
    height: 80vh;

    display: flex;
    flex-direction: column;
}

