.page {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}