.formContainer {
    h2 {
        text-align: center;

        font-weight: 500;
    }

    .form {
        .inputContainer {
            display: flex;
            flex-direction: column;
        }

        .columns {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            min-width: 700px;

            .left {
                margin-right: 40px;

                .courierLabel {
                    margin: 0;
                    
                    margin-top: 10px;
                }

                select {
                    margin-top: 3px;

                    padding: 10px 0px;
                    padding-left: 12px;
                    width: 100%;
                    appearance: none;
                    -webkit-appearance: none; 
                    -moz-appearance: none; 
                    -ms-appearance: none; 
                    text-overflow: '';
                    background: url('./triangle.svg') no-repeat calc(100% - 12px) center !important; 
                    
                    background-color: white !important;
                    
                    border-radius: 5px;
                    border: 1px solid rgba(34, 34, 34, 0.50);
                }
                
            
                select:focus {
                    outline: none;
                    border-radius: 5px;
                    border: 1px solid rgba(34, 34, 34, 0.50);
                }
            }

            .right {
                width: 50%;

                max-height: 50vh;
                overflow: auto;
               
                .centered {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .simpleInputs {
                        width: 100%;

                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        select {
                            width: 40%;
                            margin-right: 6px;
                        }

                        input {
                            width: 10%;
                        }

                        button {
                            width: 20px;
                            height: 100%;
    
                            padding: 0;
                            margin: 0;

                            border-radius: 0px;
                            
                            margin-left: 3px;
                        }

                        margin-bottom: 5px;
                    }
                }

                h3 {
                    margin: 0;
                    padding: 0;

                    text-align: center;
                    margin-bottom: 20px;
                    font-weight: 600;
                }
            }
        }

        button {
            width: 30%;
            margin-top: 20px;
        }
    }
}

.visuallyHidden {
    display: none;
}



